*.html
*.pdf
*.aux
*.synctex.gz
*.log
*.fls
*.fdb_latexmk
*.dvi
*.svg2shenzhen-cache/
*.kicad_pcb-bak
*.sch-bak
*.code-workspace
SOA_examples/tv-b-gone/fp-info-cache
SOA_examples/tv-b-gone/sym-lib-table
SOA_examples/tv-b-gone/tbg_sao-rescue.dcm
SOA_examples/tv-b-gone/tbg_sao-rescue.lib
